<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Use Typo Metrics</key>
	<true/>
	<key>ascender</key>
	<integer>739</integer>
	<key>capHeight</key>
	<integer>689</integer>
	<key>copyright</key>
	<string>Digitized data copyright © 2012-2015, The Mozilla Foundation and Telefonica S.A.</string>
	<key>descender</key>
	<integer>-202</integer>
	<key>familyName</key>
	<string>Fira Mono</string>
	<key>fsType</key>
	<array>
	</array>
	<key>isFixedPitch</key>
	<true/>
	<key>openTypeHeadCreated</key>
	<string>2015/09/08 11:59:06</string>
	<key>openTypeNameDesigner</key>
	<string>Carrois Corporate &amp; Edenspiekermann AG</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.carrois.com</string>
	<key>openTypeNameLicense</key>
	<string>Licensed under the Open Font License, version 1.1 or later</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Carrois Corporate GbR &amp; Edenspiekermann AG</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.carrois.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Fira Mono</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2TypoAscender</key>
	<integer>935</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-265</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>935</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>265</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-14</integer>
		<integer>0</integer>
		<integer>527</integer>
		<integer>541</integer>
		<integer>689</integer>
		<integer>703</integer>
		<integer>739</integer>
		<integer>753</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
		<integer>-14</integer>
		<integer>0</integer>
		<integer>527</integer>
		<integer>541</integer>
		<integer>689</integer>
		<integer>703</integer>
		<integer>739</integer>
		<integer>753</integer>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
		<integer>-216</integer>
		<integer>-202</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-216</integer>
		<integer>-202</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>74</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>92</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Fira Mono is a trademark of The Mozilla Corporation.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>vendorID</key>
	<string>CTDB</string>
	<key>versionMajor</key>
	<integer>3</integer>
	<key>versionMinor</key>
	<integer>206</integer>
	<key>xHeight</key>
	<integer>527</integer>
</dict>
</plist>
