<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>uni04D0</string>
		<string>uni04D2</string>
		<string>uni1FBA</string>
		<string>uni1FBB</string>
		<string>uni1FB8</string>
		<string>uni1FB9</string>
	</array>
	<key>@MMK_L_AE</key>
	<array>
		<string>uni04D4</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>uni04DE</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>Cacute.loclPLK</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>uni04D6</string>
		<string>uni0450</string>
		<string>uni1FC8</string>
		<string>uni1FC9</string>
	</array>
	<key>@MMK_L_Ge-cy</key>
	<array>
		<string>uni04F6</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>Nacute.loclPLK</string>
		<string>uni040D</string>
		<string>uni0524</string>
		<string>uni04B6</string>
		<string>uni04E4</string>
		<string>uni04F4</string>
		<string>uni04F8</string>
		<string>uni1FCA</string>
		<string>uni1FCB</string>
		<string>uni1FDA</string>
		<string>uni1FDB</string>
		<string>uni1FD8</string>
		<string>uni1FD9</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>Lcaron</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>Oacute.loclPLK</string>
		<string>uni04E6</string>
		<string>uni04EA</string>
		<string>uni04EC</string>
		<string>uni1FF8</string>
		<string>uni1FF9</string>
	</array>
	<key>@MMK_L_Omega</key>
	<array>
		<string>uni1FFA</string>
		<string>uni1FFB</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>Sacute.loclPLK</string>
	</array>
	<key>@MMK_L_Schwa-cy</key>
	<array>
		<string>uni04DA</string>
	</array>
	<key>@MMK_L_Shhadescender-cy</key>
	<array>
		<string>uni0526</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>uni04AC</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>uni04F0</string>
		<string>uni04F2</string>
	</array>
	<key>@MMK_L_We-cy</key>
	<array>
		<string>uni051C</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>uni04C1</string>
		<string>uni04DC</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>uni1FEA</string>
		<string>uni1FEB</string>
		<string>uni1FE8</string>
		<string>uni1FE9</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Zacute.loclPLK</string>
	</array>
	<key>@MMK_L_alpha</key>
	<array>
		<string>uni1F70</string>
		<string>uni1F71</string>
		<string>uni1FB6</string>
		<string>uni1FB0</string>
		<string>uni1FB1</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>cacute.loclPLK</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>uni0400</string>
		<string>uni04D7</string>
		<string>uni04D5</string>
	</array>
	<key>@MMK_L_eight.dnom</key>
	<array>
		<string>eight.numr</string>
	</array>
	<key>@MMK_L_epsilon</key>
	<array>
		<string>uni1F72</string>
		<string>uni1F73</string>
	</array>
	<key>@MMK_L_five.dnom</key>
	<array>
		<string>five.numr</string>
	</array>
	<key>@MMK_L_four.dnom</key>
	<array>
		<string>four.numr</string>
	</array>
	<key>@MMK_L_iota</key>
	<array>
		<string>uni1F76</string>
		<string>uni1F77</string>
		<string>uni1FD6</string>
		<string>uni1FD0</string>
		<string>uni1FD1</string>
		<string>uni1FD2</string>
		<string>uni1FD3</string>
		<string>uni1FD7</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>nacute.loclPLK</string>
		<string>uni04D1</string>
		<string>uni04D3</string>
		<string>uni1F74</string>
		<string>uni1F75</string>
		<string>uni1FC6</string>
	</array>
	<key>@MMK_L_nine.dnom</key>
	<array>
		<string>nine.numr</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>oacute.loclPLK</string>
		<string>uni04DB</string>
		<string>uni04E7</string>
		<string>uni04EB</string>
		<string>uni04ED</string>
		<string>uni1F78</string>
		<string>uni1F79</string>
	</array>
	<key>@MMK_L_omega</key>
	<array>
		<string>uni1F7C</string>
		<string>uni1F7D</string>
		<string>uni1FF6</string>
	</array>
	<key>@MMK_L_one.dnom</key>
	<array>
		<string>one.numr</string>
	</array>
	<key>@MMK_L_oneinferior</key>
	<array>
		<string>zeroinferior</string>
		<string>oneinferior</string>
		<string>twoinferior</string>
		<string>threeinferior</string>
		<string>fourinferior</string>
		<string>fiveinferior</string>
		<string>sixinferior</string>
		<string>seveninferior</string>
		<string>eightinferior</string>
		<string>nineinferior</string>
	</array>
	<key>@MMK_L_onesuperior</key>
	<array>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>sacute.loclPLK</string>
	</array>
	<key>@MMK_L_seven.dnom</key>
	<array>
		<string>seven.numr</string>
	</array>
	<key>@MMK_L_shha-cy</key>
	<array>
		<string>uni0527</string>
	</array>
	<key>@MMK_L_six.dnom</key>
	<array>
		<string>six.numr</string>
	</array>
	<key>@MMK_L_te-cy</key>
	<array>
		<string>uni04AD</string>
		<string>uni04F7</string>
	</array>
	<key>@MMK_L_three.dnom</key>
	<array>
		<string>three.numr</string>
	</array>
	<key>@MMK_L_tse-cy</key>
	<array>
		<string>uni0525</string>
	</array>
	<key>@MMK_L_two.dnom</key>
	<array>
		<string>two.numr</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>uni045D</string>
		<string>uni04B7</string>
		<string>uni04E5</string>
		<string>uni04F5</string>
		<string>uni04F9</string>
	</array>
	<key>@MMK_L_upsilon</key>
	<array>
		<string>uni1F7A</string>
		<string>uni1F7B</string>
		<string>uni1FE6</string>
		<string>uni1FE0</string>
		<string>uni1FE1</string>
		<string>uni1FE2</string>
		<string>uni1FE3</string>
		<string>uni1FE7</string>
	</array>
	<key>@MMK_L_ve-cy</key>
	<array>
		<string>uni04DF</string>
	</array>
	<key>@MMK_L_w</key>
	<array>
		<string>uni051D</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>uni04C2</string>
		<string>uni04DD</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>uni04F1</string>
		<string>uni04F3</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>zacute.loclPLK</string>
	</array>
	<key>@MMK_L_zero.dnom</key>
	<array>
		<string>zero.numr</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>uni04D0</string>
		<string>uni04D2</string>
		<string>uni1FBA</string>
		<string>uni1FBB</string>
		<string>uni1FB8</string>
		<string>uni1FB9</string>
	</array>
	<key>@MMK_R_AE</key>
	<array>
		<string>uni04D4</string>
	</array>
	<key>@MMK_R_Che-cy</key>
	<array>
		<string>uni04B6</string>
		<string>uni04F4</string>
	</array>
	<key>@MMK_R_Ereversed-cy</key>
	<array>
		<string>uni04EC</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>Lcaron</string>
		<string>Nacute.loclPLK</string>
		<string>uni040D</string>
		<string>uni0526</string>
		<string>uni04D6</string>
		<string>uni04E4</string>
		<string>uni04F6</string>
		<string>uni04F8</string>
		<string>uni0450</string>
		<string>uni1FC8</string>
		<string>uni1FC9</string>
		<string>uni1FCA</string>
		<string>uni1FCB</string>
		<string>uni1FDA</string>
		<string>uni1FDB</string>
		<string>uni1FD8</string>
		<string>uni1FD9</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>Cacute.loclPLK</string>
		<string>Oacute.loclPLK</string>
		<string>uni04E6</string>
		<string>uni04EA</string>
		<string>uni1FF8</string>
		<string>uni1FF9</string>
	</array>
	<key>@MMK_R_Omega</key>
	<array>
		<string>uni1FFA</string>
		<string>uni1FFB</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>Sacute.loclPLK</string>
	</array>
	<key>@MMK_R_Schwa-cy</key>
	<array>
		<string>uni04DA</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>uni04AC</string>
	</array>
	<key>@MMK_R_Tse-cy</key>
	<array>
		<string>uni0524</string>
	</array>
	<key>@MMK_R_U-cy</key>
	<array>
		<string>uni04F0</string>
		<string>uni04F2</string>
	</array>
	<key>@MMK_R_We-cy</key>
	<array>
		<string>uni051C</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>uni04C1</string>
		<string>uni04DC</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>uni1FEA</string>
		<string>uni1FEB</string>
		<string>uni1FE8</string>
		<string>uni1FE9</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Zacute.loclPLK</string>
	</array>
	<key>@MMK_R_Ze-cy</key>
	<array>
		<string>uni04DE</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>uni04D1</string>
		<string>uni04D3</string>
		<string>uni04D5</string>
	</array>
	<key>@MMK_R_alpha</key>
	<array>
		<string>uni1F70</string>
		<string>uni1F71</string>
		<string>uni1FB6</string>
		<string>uni1FB0</string>
		<string>uni1FB1</string>
	</array>
	<key>@MMK_R_che-cy</key>
	<array>
		<string>uni04B7</string>
		<string>uni04F5</string>
	</array>
	<key>@MMK_R_eight.dnom</key>
	<array>
		<string>eight.numr</string>
	</array>
	<key>@MMK_R_epsilon</key>
	<array>
		<string>uni1F72</string>
		<string>uni1F73</string>
	</array>
	<key>@MMK_R_ereversed-cy</key>
	<array>
		<string>uni04ED</string>
	</array>
	<key>@MMK_R_five.dnom</key>
	<array>
		<string>five.numr</string>
	</array>
	<key>@MMK_R_four.dnom</key>
	<array>
		<string>four.numr</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>uni0527</string>
	</array>
	<key>@MMK_R_iota</key>
	<array>
		<string>uni1F76</string>
		<string>uni1F77</string>
		<string>uni1FD6</string>
		<string>uni1FD0</string>
		<string>uni1FD1</string>
		<string>uni1FD2</string>
		<string>uni1FD3</string>
		<string>uni1FD7</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>nacute.loclPLK</string>
		<string>uni04F7</string>
		<string>uni04F9</string>
		<string>uni1F74</string>
		<string>uni1F75</string>
		<string>uni1FC6</string>
	</array>
	<key>@MMK_R_nine.dnom</key>
	<array>
		<string>nine.numr</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>cacute.loclPLK</string>
		<string>oacute.loclPLK</string>
		<string>uni0400</string>
		<string>uni04D7</string>
		<string>uni04DB</string>
		<string>uni04E7</string>
		<string>uni04EB</string>
		<string>uni1F78</string>
		<string>uni1F79</string>
	</array>
	<key>@MMK_R_omega</key>
	<array>
		<string>uni1F7C</string>
		<string>uni1F7D</string>
		<string>uni1FF6</string>
	</array>
	<key>@MMK_R_one.dnom</key>
	<array>
		<string>one.numr</string>
	</array>
	<key>@MMK_R_oneinferior</key>
	<array>
		<string>zeroinferior</string>
		<string>oneinferior</string>
		<string>twoinferior</string>
		<string>threeinferior</string>
		<string>fourinferior</string>
		<string>fiveinferior</string>
		<string>sixinferior</string>
		<string>seveninferior</string>
		<string>eightinferior</string>
		<string>nineinferior</string>
	</array>
	<key>@MMK_R_onesuperior</key>
	<array>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>sacute.loclPLK</string>
	</array>
	<key>@MMK_R_seven.dnom</key>
	<array>
		<string>seven.numr</string>
	</array>
	<key>@MMK_R_six.dnom</key>
	<array>
		<string>six.numr</string>
	</array>
	<key>@MMK_R_te-cy</key>
	<array>
		<string>uni04AD</string>
	</array>
	<key>@MMK_R_three.dnom</key>
	<array>
		<string>three.numr</string>
	</array>
	<key>@MMK_R_two.dnom</key>
	<array>
		<string>two.numr</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>uni045D</string>
		<string>uni0525</string>
		<string>uni04E5</string>
	</array>
	<key>@MMK_R_upsilon</key>
	<array>
		<string>uni1F7A</string>
		<string>uni1F7B</string>
		<string>uni1FE6</string>
		<string>uni1FE0</string>
		<string>uni1FE1</string>
		<string>uni1FE2</string>
		<string>uni1FE3</string>
		<string>uni1FE7</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
		<string>uni051D</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>uni04C2</string>
		<string>uni04DD</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>uni04F1</string>
		<string>uni04F3</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>zacute.loclPLK</string>
	</array>
	<key>@MMK_R_ze-cy</key>
	<array>
		<string>uni04DF</string>
	</array>
	<key>@MMK_R_zero.dnom</key>
	<array>
		<string>zero.numr</string>
	</array>
</dict>
</plist>
